# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# IntelliJ files
*.iml
*.project
/venv
.idea

# VSCode files
.DS_Store
*.code-workspace
*.vscode

# Eclipse files
.classpath
.settings

# Object files and debugging files
*.o
*.out
*.dSYM
.gdb_history

# Vim files
*.swp
$HOME

# Apple files
*.icloud
